<!-- <tbody>
  <% @heros.each do |hero| %>
    <tr>
      <td><%= hero.name %></td>
      <td><%= hero.ability_1 %></td>
      <td><%= hero.ability_2 %></td>
      <td><%= hero.ability_3 %></td>
      <td><%= hero.ability_4 %></td>
      <td><%= hero.ability_5 %></td>
      <td><%= hero.ability_6 %></td>
      <td><%= hero.str %></td>
      <td><%= hero.str_gain %></td>
      <td><%= hero.agi %></td>
      <td><%= hero.agi_gain %></td>
      <td><%= hero.intel %></td>
      <td><%= hero.intel_gain %></td>
      <td><%= hero.move_speed %></td>
      <td><%= hero.sight_range %></td>
      <td><%= hero.armor %></td>
      <td><%= hero.base_attack_time %></td>
      <td><%= hero.damage %></td>
      <td><%= hero.attack_point %></td>
      <td><%= link_to 'Show', hero %></td>
      <td><%= link_to 'Edit', edit_hero_path(hero) %></td>
      <td><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
   <% end %>
</tbody> -->
